*.DS_Store
WebServer/.buildpath
WebServer/.project
WebServer/.settings/
JudgeServer/.cproject
JudgeServer/.project
*.komodoproject
WebServer/_install/installer.lock
WebServer/vars/CookieSecret.php
WebServer/vars/DBParameters.php