#main
{
	width: 680px;
	float: left;
	margin: 8px;
}

#aside
{
	width: 255px;
	float: right;
	margin: 8px;
	margin-left: 0;
}

#testcases-table tbody input
{
	border: 0;
	border-bottom: 1px solid black;
}

input[name="title"]
{
	font-size: 18px;
	width: 100%;
}

fieldset
{
	border: 1px solid #a6a6a6;
	border-radius: 3px;
	padding: 5px;
}

fieldset legend
{
	margin-left: 5px;
}