#column-left h2
{
	font-size: 20px;
}

#column-left h3
{
	font-size: 16px;
}

#description
{
	margin: 8px;
	padding: 5px;
	border: 1px solid #F9F9F9;
	border-radius: 3px;
	box-shadow: 0 0 5px rgba(25,25,25,0.7);
	
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #efefef 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#efefef 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#efefef 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#efefef 100%);
	background: linear-gradient(top,  #ffffff 0%,#efefef 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 );
}