#body h2
{
	font-weight: normal;
	font-size: 22px;
	font-family: 'Segoe UI Light','Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif;
}



#blocknav
{
	height: 360px;
	position: relative;
	overflow: hidden;
}

#blocknav img
{
	display: block;
}

#bn_banners
{
	position: absolute;
	top: 0;
	left: 0;
	-moz-transition: top 2s ease;
	-webkit-transition: top 2s ease;
	-o-transition: top 2s ease;
}

#bn_links
{
	width: 100%;
	text-align: center;
	height: 14px;
	margin: 3px;
}

#bn_links a
{
	height: 14px;
}

#bn_links a img
{
	width: 10px;
	height: 10px;
	margin: 2px;
}


#bn_links a img.current
{
	width: 14px;
	height: 14px;
	margin: 0;
}

#blocknav li
{
	display: block;
	float: left;
	width: 300px;
	
	height: 230px;
	text-align: center;
}

#blocknav h3 a
{
	text-decoration: none;
	color: white;
	font-weight: normal;
	font-size: 20px;
	font-family: 'Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif;

}

#blocknav h3 a:hover
{
	text-decoration: underline;
}

#blocknav li img
{
	vertical-align: middle;
}

#login_panel
{
	padding: 3px;
	width: 340px;
	float: left;
}

#user_panel input[type="text"], #user_panel input[type="password"], #user_panel input[type="email"], #user_panel input[type="number"]
{
	background: white;
	background: -moz-linear-gradient(top, #e8e8e8 0%, #f6f6f6 28%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(28%,#f6f6f6), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top, #e8e8e8 0%,#f6f6f6 28%,#ffffff 100%);
	background: -o-linear-gradient(top, #e8e8e8 0%,#f6f6f6 28%,#ffffff 100%);
	background: -ms-linear-gradient(top, #e8e8e8 0%,#f6f6f6 28%,#ffffff 100%);
	background: linear-gradient(top, #e8e8e8 0%,#f6f6f6 28%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#ffffff',GradientType=0 );
	border: 1px solid #adadad;
}

#sf_login_username, #sf_login_password
{

	font-size: 18px;
	width: 250px;
	margin-left: 10px;
}

#register_panel
{
	width: 330px;
	padding: 3px;
	float: right;
}

#vertical_separator
{
	float: left;
}

.homepage_box
{
	clear: both;
	margin: 5px;
	border: 1px solid #a3a3a3;
	border-radius: 3px;
	box-shadow: 0 0 2px rgba(130,130,130,0.8);
}

.homepage_inner_box
{
	margin: 2px;
	background-color: #f6f6f6;
}

#quicksubmit
{
	height: 125px;
}

#drop_instructions
{
	float: left;
	width: 600px;
}

#dropzone
{
	background-image: url('images/dropbox_index.jpg');
	width: 300px;
	height: 120px;
	border: 1px solid #b6b6b6;
	float: right;
	margin: 2px;
}

#dropzone.in
{
	background-position: 0 -120px;
}

#dropzone.hover
{
	background-position: 0 -240px;
}

