.tablist
{
	width: 100%;
	border: 1px solid #626262;
	font-size: 16px;
}

.tablist td
{
	padding: 3px;
}

.tablist thead tr
{
	background-color: #626262;
	color: white;
}

.tablist tbody tr .even
{
	background-color: #d3d3d3;
}

.tablist tbody tr a
{
	color: black;
	text-decoration: none;
}

.tablist tbody tr a:hover
{
	color: black;
	text-decoration: underline;
}

.tablist .even
{
	background-color: #D9D9D9;
}