.tablist
{
	width: 100%;
	border-bottom: 1px solid #8a8a8a;
	font-size: 16px;
}

.tablist td
{
	padding: 6px;
}

.tablist thead
{
	background: url('./images/table_thead.gif');
	border-top: 1px solid #8a8a8a;
	border-bottom: 1px solid #8a8a8a;
	font-size: 14px;
}

.tablist thead td
{
	padding: 3px 6px 3px 6px;
}

.tablist tbody tr .even
{
	background-color: #d3d3d3;
}

.tablist tbody tr a
{
	color: black;
	text-decoration: none;
}

.tablist tbody tr a:hover
{
	color: black;
	text-decoration: underline;
}

.tablist .even
{
	background-color: #e2e5e9;
}