#column-left
{
	float: left;
	width: 730px;
}

#column-right
{
	float: right;
	width: 200px;
}

#column-right .sidebar-box
{
	
}

#column-right .sidebar-box h2
{
	font-weight: normal;
	font-size: 16px;
	text-align: right;
	margin-bottom: 3px;
}

#column-right .sidebar-box ul
{
	list-style: none;
}