#body
{
	background: url('images/twocolumn_bg.gif') repeat-y top center;
}

#column-left
{
	float: left;
	width: 740px;
}

#column-right
{
	float: right;
	width: 220px;
}

#column-right .sidebar-box
{
	
}

#column-right .sidebar-box h2
{
	color: #666666;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	font-size: 14px;
	
	padding: 4px;
}

#title_bar
{
	margin-right: 1px;
}

#column-right .sidebar-box ul
{
	list-style: none;
	margin: 5px 8px 5px 8px;
}

#column-right .sidebar-box ul
{
	list-style: none;
}